<section id="events" class="events">
  <div class="container">
    <h2 class="title">Special Events and Exhibitions</h2>
    <ul class="events_list">
      <li class="events_item">
        <img src="/img/events/museum.jpg" alt="Museum" class="events_img" />
        <p>Visiting Professor of Aeronautics</p>
      </li>
      <li class="events_item">
        <img src="/img/events/night.jpg" alt="Night" class="events_img" />
        <p>Night in the Museum</p>
      </li>
      <li class="events_item">
        <img
          src="/img/events/energetic.jpg"
          alt="Energetic"
          class="events_img"
        />
        <p>Energetica Exhibition on Loan</p>
      </li>
    </ul>
  </div>
</section>
