<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="title">Gallery</h2>

    <ul class="gallery_list">
      <li class="gallery_item">
        <img src="/img/gallery/gl-1.jpg" alt="gl-1" class="gallery_img" />
      </li>
      <li class="gallery_item">
        <img src="/img/gallery/gl-2.jpg" alt="gl-2" class="gallery_img" />
      </li>
      <li class="gallery_item">
        <img src="/img/gallery/gl-3.jpg" alt="gl-3" class="gallery_img" />
      </li>
      <li class="gallery_item">
        <img src="/img/gallery/gl-4.jpg" alt="gl-4" class="gallery_img" />
      </li>
    </ul>
  </div>
</section>
