<header class="header">
  <div class="up_header">
    <h2>Community Science Museum</h2>
    <button
      class="menu-toggle js-open-menu is-open"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="24" height="24">
        <path
          d="M3 12H21M3 6H21M3 18H21"
          stroke="#F8F9F3"
          style="
            stroke: #f8f9f3;
            stroke: color(display-p3 0.9725 0.9765 0.9529);
            stroke-opacity: 1;
          "
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <div class="header-desktop container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="/index.html#explore"
            >Explore</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="/index.html#exhibition"
            >Exhibition Spaces</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="/index.html#events"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="/index.html#visit"
            >Visit</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <!-------------- Mobile menu ----------->

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="modal-btn menu-toggle js-close-menu" type="button">
      <svg class="modal-icon" width="24" height="24">
        <path
          fill="#ffe000"
          style="fill: #ffffff"
          d="M25.333 8.547l-1.88-1.88-7.453 7.453-7.467-7.453-1.867 1.88 7.453 7.453-7.453 7.453 1.867 1.88 7.467-7.453 7.453 7.453 1.88-1.88-7.467-7.453 7.467-7.453z"
        ></path>
      </svg>
    </button>
    <ul class="mobile-menu nav-list">
      <li class="nav-item">
        <a class="nav-link {=$highlight-act}" href="../index.html#explore"
          >Explore</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link {=$highlight-curr}" href="../index.html#exhibition"
          >Exhibition Spaces</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link {=$highlight-act}" href="../index.html#events"
          >Events</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link {=$highlight-act}" href="../index.html#visit"
          >Visit</a
        >
      </li>
    </ul>
  </div>
</header>
